body {background-color: #B1C8CB;}
label {display: block;}
table, th, td 
{
	border: 1px solid black;
	background-color: #C2F7FE;
}
td{
	min-width: 100px;
	max-width: 300px;
	word-wrap: break-word;
}
textarea{
	width: 90%;
}