/*search.css*/
.todisplay 
{
	/*display:none;*/
}
.fieldset-auto-width 
{
	display: inline-block;
}
body{
	font-family: verdana;
	font-size: 10pt;
}
.maindiv{
	margin: 30px;
}
.row{
	padding: 10px;
}
#copyrow {
	cursor: pointer;
}
#columnselect {
	color: red;
}
#recupdate {
	text-align: center;
}

/* google map*/
#map { 
	height: 800px; 
	width: 100%;
}
#map-canvas {
	height: 100%;
	width: 100%;
	margin: 0 auto;
}

/*map error msg*/
.alert {
	padding: 20px;
	background-color: #f44336; /* Red */
	color: white;
	margin-bottom: 15px;
}
.closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}
.closebtn:hover {
	color: black;
}

/*query*/
#emptyquerymsg {
	color: RED;
	text-align: center;
}
#querymsg {
	color: #337ab7;
	text-align: center;
}
#cqaddbtn {
	padding: 5px 10px;
}
.form-control {
	width: auto;
	height: 30px;
	display: inline;
}

/*table*/
table {
	display: block;
	overflow-x: scroll;
	overflow-y: scroll;
	height: 600px;
	font-size: 10pt;
}
tbody {
	overflow-y: auto;
}
textarea{
	min-width: 100px;
	overflow-x: hidden;
}
th {
	text-align: center;
	vertical-align: middle !important;
}
tr[selected="selected"]{ 
	color: white;
	background-color: darkgray !important;/*#337ab7 !important; */
}
tr[selected="selected"] #recordEdit, /*keep titles white on select*/
tr[selected="selected"] #cancelEdit, 
tr[selected="selected"] #statusselect{ 
	color: #000000;
}

/*#container {
	white-space: nowrap;
	overflow: hidden;
}*/
#ttlrecs {
	float: right;
}
#colsel{
	margin-bottom: 2px;
}
#columnselect{
	max-width: 60%;
}
#manquery{
	width: 60%; 
	max-width: 100%;
}

.copysuccessmsg{
	color: black;
	font-weight: bold;
	background: lightgray;
	position: fixed;
	top: 30%;
	left: 40%;
	padding: 40px 80px;
	border-radius: 10px;
	z-index: 10000;
}

/*btn designs*/
.btn-default{
	background-color: lightgray;
}
.btn-outline{
	background-color: transparent;
	color: inherit;
	transition: all .2s;
}
.btn-primary.btn-outline{
	color: #428bca;
}
.btn-danger.btn-outline{
	color: #d9534f;
}
.btn-primary.btn-outline:hover,
.btn-danger.btn-outline:hover{
	color: #fff;
}

/*tooltip*/
#tooltip {
	position: relative;
	display: inline-block;
	margin: 0;
}
#tooltip .tooltiptext {
	visibility: hidden;
	width: 290px;
	/*white-space: nowrap;*/
	background-color: gainsboro; /*very light gray*/
	text-align: left;
	border-radius: 5px;
	padding: 10px 15px;
	font-size: 13px;
	font-weight: normal !important;
	font-family: verdana;
	
	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	top: -50%;
	left: 155%;
	
}
#tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 8px;
	right: 100%; 
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent gainsboro transparent transparent;
}
#tooltip:hover .tooltiptext {
	visibility: visible;
}