/*search.css*/
.todisplay 
{
	/*display:none;*/
}
.fieldset-auto-width 
{
	display: inline-block;
}
body{
	font-family: verdana;
	font-size: 10pt;
	margin: 20px;
}
.row{
	padding: 10px;
}
#columnselect {
	color: red;
}
#recupdate {
	text-align: center;
}

/* google map*/
#map { 
	height: 800px; 
	width: 100%;
}
#map-canvas {
	height: 100%;
	width: 100%;
	margin: 0 auto;
}

/*map error msg*/
.alert {
	padding: 20px;
	background-color: #f44336; /* Red */
	color: white;
	margin-bottom: 15px;
}
.closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}
.closebtn:hover {
	color: black;
}

/*query*/
#emptyquerymsg {
	color: RED;
	text-align: center;
}
#querymsg {
	color: #337ab7;
	text-align: center;
}
#cqaddbtn {
	padding: 5px 10px;
}
.form-control {
	min-width: 0;
	width: auto;
	height: 30px;
	display: inline;
}

/*table*/
table {
	display: block;
	overflow-x: scroll;
	overflow-y: scroll;
	height: 600px;
	font-size: 10pt;
}
tbody {
	overflow-y: auto;
}
.selected td{ 
	color: white;
	background-color: darkgray;/*#337ab7 !important; */
}
/*#container {
	white-space: nowrap;
	overflow: hidden;
}*/
#ttlrecs {
	float: right;
}
#newquery{
	max-width: inherit;
}
#colsel{
	margin-bottom: 2px;
}
#columnselect{
	max-width: 60%;
}
#manquery{
	width: 60%; 
	max-width: 100%;
}
.btn-outline{
	background-color: transparent;
	color: inherit;
	transition: all .2s;
}
.btn-primary.btn-outline{
	color: #428bca;
}
.btn-danger.btn-outline{
	color: #d9534f;
}
.btn-primary.btn-outline:hover,
.btn-danger.btn-outline:hover{
	color: #fff;
}