/*search.css*/
.todisplay 
{
	/*display:none;*/
}
.fieldset-auto-width 
{
	display: inline-block;
}
html 
{
	font-family: verdana;
	font-size: 10pt;
	line-height: 25px;
}
table 
{
	border-collapse: collapse;
	width: 1000px;
	overflow-x: scroll;
	display: block;
	height: 545px;
}
thead 
{
	background-color: #EFEFEF;
}
thead, tbody 
{
	display: block;
}
tbody 
{
	overflow-y: scroll;
	overflow-x: hidden;
	height: 550px;
}
td, th 
{
	min-width: 220px;
	height: 25px;
	border: dashed 1px lightblue;
}
table.big td th
{
	width: 200px;
}
ul
{
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 20px;
}

/* google map*/
#map {
	height: 400px;
	width: 100%;
}

/*error msg*/
.alert {
	padding: 20px;
	background-color: #f44336; /* Red */
	color: white;
	margin-bottom: 15px;
}
.closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}
.closebtn:hover {
	color: black;
}