/*search.css*/
.todisplay 
{
	/*display:none;*/
}
.fieldset-auto-width 
{
	display: inline-block;
}
html 
{
	font-family: verdana;
	font-size: 10pt;
	line-height: 25px;
}
table 
{
	border-collapse: collapse;
	width: 1000px;
	overflow-x: scroll;
	display: block;
}
thead 
{
	background-color: #EFEFEF;
}
thead, tbody 
{
	display: block;
}
tbody 
{
	overflow-y: scroll;
	overflow-x: hidden;
	height: 140px;
}
td, th 
{
	min-width: 220px;
	height: 25px;
	border: dashed 1px lightblue;
}
table.big td th
{
	width: 200px;
}
ul
{
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 20px;
}