.green { background: green; color: white; }
.white { background: white; color: black; }
.fieldset-auto-width 
{
	 display: inline-block;
}

#sales-list { border: 1px solid black; }
td 
{ 
	padding: 10px; 
	border: 1px solid black; 
}
